<footer id="footer-Section" class="navbar-fixed-bottom">
  <div class="footer-bottom-layout">
    <p><i class="fa fa-paint-brush" aria-hidden="true"></i> Artto</p>
    <div class="copyright-tag">Copyright © 2017 Artto. All Rights Reserved.</div>
  </div>
</footer>
    </body>
</html>