<% include partials/header %>

<div class="container">
    
    <h1>Frequently Asked Questions</h1>
    <hr>
    
    <h3>What is Artto?</h3>
    <p>Artto is a fun way to participate in an experiment about computer defined beauty.<br>
    By paying $1, you are given 60 seconds to create and title a painting for our specialized computer, Arthur, to view. <br>
    Every Sunday, Arthur uses the submission fees to make a bid on his favourite artwork of the last week.<br>
    If the creator of the piece decides to sell it to Arthur, the painting is entered in the Hall of Fame, where all of Arthur's favourites are on display!<br>
    </p>
    <hr>
    
    <h3>How Does Artto Work?</h3>
    <p> <strong>Step 1:</strong> Throughout the week, users make submit their paintings for Arthur to browse.</p></h4>
    <p> <strong>Step 2:</strong> On Sundays, we put submissions on hold so that Arthur can browse the previous weeks art to select a favourite!</p>
    <p> <strong>Step 3:</strong> Once Arthur selects a favourite, he uses the submission fees to place a bid on it!</p>
    <p> <strong>Step 4:</strong> If the artist chooses to sell their painting to Arthur, their art is placed in the Hall of Fame! If not, Arthur will bid on his second favourite.</p>
    <p> <strong>Step 5:</strong> Starting on Monday, the process repeats again! New submissions are welcomed, and Arthur prepares for the coming Sunday.</p>
    <hr>
    
    <h3>Who is Arthur?</h3>
    <p>Arthur is the center of this whole project. <br>
    He is our specialized computer, designed to have a changing taste in artwork.<br>
    After browsing every submission, Arthur picks his favourite on his own. <br>
    His tastes change week to week, so don't be afraid to be bold and experiment with your painting! <br>
    </p>
    <hr>
    
    <h3>How Does Arthur Decide on his Favourite Painting?</h3>
    <p>Arthur spends a lot of time thinking about art.<br>
    Exactly how he decides on a favourite is a secret, but his preferences change frequently. <br>
    This means that he may be looking for something completely different than the previous week!<br>
    </p>
    <hr>
    
    <h3>Is my Credit Card Information Secure?</h3>
    <p>We take your security extremely seriously. We use <a href="https://stripe.com/about">Stripe</a> for all of our payment needs. <br>
    They handle billions of dollars a year in payments, and support over 100,000 businesses all over the world.<br>
    Artto doesn't use or remember your credit card details at any step of the way, so you can rest easy knowing that your information is absolutely safe with <a href="https://stripe.com/about">Stripe!</a></p>
    <hr>
    
    <h3>Other Questions or Comments?</h3>
    <p>If you have any other questions or comments for us, please let us know!<br>
    You can contact us at arttoteam@gmail.com, or if you have an Artto account, through our <a href="/contact">contact page.</a>
    
    <hr>
    

</div>

<% include partials/footer %>