<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Forgot password?</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/forgotPassword"  method="POST">
                
                <div class="form-group">
                    <input required class="form-control" type="email" name="email" placeholder="email">
                </div>
                
                
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Send reset email</button>
                </div>
                
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/formValidation.js">
</script>

<% include partials/footer %>