<% include partials/header %>

<div class="container">
    <br>
    <h2>Sorry! There are no more open spots for users at this time!</h2>
    <h2>Please check back to see if there's space available next week!</h2>
</div>

<% include partials/footer %>