<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Sign Up!</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/register"  method="POST">
                <div class="form-group">
                    <input required pattern="[a-zA-Z0-9_]{4,12}" title="4-12 alphanumeric characters with underscores"class="form-control" type="text" id="username" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input required class="form-control" type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" title="6-20 characters with at least one lowercase letter, uppercase letter, and number." class="form-control" type="password" name="password" id="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}" title="Passwords do not match!" class="form-control" type="password" name="password_confirmation" id="password_confirmation" placeholder="confirm password">
                </div>
                
                  <input type="checkbox" name="phone" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                
                <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="6LdoSB4UAAAAAD3TBE6OA8HHnz9qh4aDiwD5Xyx3"> </div>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/formValidation.js">
</script>

<% include partials/footer %>